body {
  background-color: #ffffff;
  font-family: "Arial Black", Helvetica, sans-serif;
  color: #000000;
}
#header {
    background-color:#13abcd;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:70%;
    width:15%;
    float:left;
    padding:5px;
    color:#663399;
}
#section {
    width:75%;
    float:left;
    padding:10px;
}
#footer {
    background-color:#00881a;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
#test_definition{
  position: relative;
   visibility: hidden;
   overflow: hidden;
   border:1px solid;
   background-color:#05dff8;
   border:1px solid;
   padding:5px;
   color:#ff6500;
}

a:link {
    color: #663399;
}

a:visited {
    color: #663399;
}

a:hover {
    color: #ff0000;
}
img.sectionImage {
  align:"right";
}

p {
font-family:"Comic Sans MS";
}

h2 {
font-family:"Arial";
align:"center";
font-size: 72;
background-color:#ff00ff;
color: #000000;
}


button {
font-family:"Comic Sans MS";
color: #ff0000;
background-color: #da89aa;
}

div.def {
   position: relative;
   visibility: hidden;
   overflow: hidden;
   border:1px solid;
   background-color:#05dff8;
   border:1px solid;
   padding:5px;
   color:#ff6500;
	}
